.with-1-spaces * {
  position: relative;
  box-sizing: border-box;
}

.with-1-spaces div:nth-of-type(1), .with-1-spaces span:nth-of-type(1) {
  left: 0%;
}

.with-1-spaces div, .with-1-spaces span {
  position: absolute;
  float: left;
  width: 100%;
}

.with-1-spaces div *, .with-1-spaces span * {
  position: static;
}

.with-1-spaces div:before,
.with-1-spaces div:after,
.with-1-spaces span:before,
.with-1-spaces span:after {
  content: " ";
  display: table;
}

.with-1-spaces div:after, .with-1-spaces span:after {
  clear: both;
}

.with-2-spaces * {
  position: relative;
  box-sizing: border-box;
}

.with-2-spaces div:nth-of-type(1), .with-2-spaces span:nth-of-type(1) {
  left: 0%;
}

.with-2-spaces div:nth-of-type(2), .with-2-spaces span:nth-of-type(2) {
  left: 50%;
}

.with-2-spaces div, .with-2-spaces span {
  position: absolute;
  float: left;
  width: 50%;
}

.with-2-spaces div *, .with-2-spaces span * {
  position: static;
}

.with-2-spaces div:before,
.with-2-spaces div:after,
.with-2-spaces span:before,
.with-2-spaces span:after {
  content: " ";
  display: table;
}

.with-2-spaces div:after, .with-2-spaces span:after {
  clear: both;
}

.with-3-spaces * {
  position: relative;
  box-sizing: border-box;
}

.with-3-spaces div:nth-of-type(1), .with-3-spaces span:nth-of-type(1) {
  left: 0%;
}

.with-3-spaces div:nth-of-type(2), .with-3-spaces span:nth-of-type(2) {
  left: 33.33333%;
}

.with-3-spaces div:nth-of-type(3), .with-3-spaces span:nth-of-type(3) {
  left: 66.66667%;
}

.with-3-spaces div, .with-3-spaces span {
  position: absolute;
  float: left;
  width: 33.33333%;
}

.with-3-spaces div *, .with-3-spaces span * {
  position: static;
}

.with-3-spaces div:before,
.with-3-spaces div:after,
.with-3-spaces span:before,
.with-3-spaces span:after {
  content: " ";
  display: table;
}

.with-3-spaces div:after, .with-3-spaces span:after {
  clear: both;
}

.with-4-spaces * {
  position: relative;
  box-sizing: border-box;
}

.with-4-spaces div:nth-of-type(1), .with-4-spaces span:nth-of-type(1) {
  left: 0%;
}

.with-4-spaces div:nth-of-type(2), .with-4-spaces span:nth-of-type(2) {
  left: 25%;
}

.with-4-spaces div:nth-of-type(3), .with-4-spaces span:nth-of-type(3) {
  left: 50%;
}

.with-4-spaces div:nth-of-type(4), .with-4-spaces span:nth-of-type(4) {
  left: 75%;
}

.with-4-spaces div, .with-4-spaces span {
  position: absolute;
  float: left;
  width: 25%;
}

.with-4-spaces div *, .with-4-spaces span * {
  position: static;
}

.with-4-spaces div:before,
.with-4-spaces div:after,
.with-4-spaces span:before,
.with-4-spaces span:after {
  content: " ";
  display: table;
}

.with-4-spaces div:after, .with-4-spaces span:after {
  clear: both;
}

.with-5-spaces * {
  position: relative;
  box-sizing: border-box;
}

.with-5-spaces div:nth-of-type(1), .with-5-spaces span:nth-of-type(1) {
  left: 0%;
}

.with-5-spaces div:nth-of-type(2), .with-5-spaces span:nth-of-type(2) {
  left: 20%;
}

.with-5-spaces div:nth-of-type(3), .with-5-spaces span:nth-of-type(3) {
  left: 40%;
}

.with-5-spaces div:nth-of-type(4), .with-5-spaces span:nth-of-type(4) {
  left: 60%;
}

.with-5-spaces div:nth-of-type(5), .with-5-spaces span:nth-of-type(5) {
  left: 80%;
}

.with-5-spaces div, .with-5-spaces span {
  position: absolute;
  float: left;
  width: 20%;
}

.with-5-spaces div *, .with-5-spaces span * {
  position: static;
}

.with-5-spaces div:before,
.with-5-spaces div:after,
.with-5-spaces span:before,
.with-5-spaces span:after {
  content: " ";
  display: table;
}

.with-5-spaces div:after, .with-5-spaces span:after {
  clear: both;
}

.with-6-spaces * {
  position: relative;
  box-sizing: border-box;
}

.with-6-spaces div:nth-of-type(1), .with-6-spaces span:nth-of-type(1) {
  left: 0%;
}

.with-6-spaces div:nth-of-type(2), .with-6-spaces span:nth-of-type(2) {
  left: 16.66667%;
}

.with-6-spaces div:nth-of-type(3), .with-6-spaces span:nth-of-type(3) {
  left: 33.33333%;
}

.with-6-spaces div:nth-of-type(4), .with-6-spaces span:nth-of-type(4) {
  left: 50%;
}

.with-6-spaces div:nth-of-type(5), .with-6-spaces span:nth-of-type(5) {
  left: 66.66667%;
}

.with-6-spaces div:nth-of-type(6), .with-6-spaces span:nth-of-type(6) {
  left: 83.33333%;
}

.with-6-spaces div, .with-6-spaces span {
  position: absolute;
  float: left;
  width: 16.66667%;
}

.with-6-spaces div *, .with-6-spaces span * {
  position: static;
}

.with-6-spaces div:before,
.with-6-spaces div:after,
.with-6-spaces span:before,
.with-6-spaces span:after {
  content: " ";
  display: table;
}

.with-6-spaces div:after, .with-6-spaces span:after {
  clear: both;
}
